.container {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 101;
}

.showFlow {
  bottom: 55px;
}

.segments {
  border: 1px solid var(--fill-5);
  color: var(--widget-segmented-inactive-color);
}
