.showSettings {
  display: flex;
  align-items: flex-start;
}

.schemaEditor {
  position: absolute;
  left: 100%;
  width: 400px;
  margin-left: 13px;
  font-size: var(--base-font-size);
  text-align: left;
}

.reference {
  padding-left: 5px;
  color: var(--text-2);
}

.content.content {
  background-color: transparent;
}

.error {
  color: var(--widget-font-danger-color);
  background-color: var(--widget-button-danger-bg);
}

.dragHandle {
  position: absolute;
  left: 8px;
  display: flex;
  height: var(--widget-height);
  align-items: center;
  cursor: grab;
  opacity: 0;

  :global(.oo-designer-node-handle):hover & {
    opacity: 0.8;
  }
}
