.content {
  :global(.oo-designer-node-minimap1) & {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  :global(.oo-designer-node-minimap1) &:global(.oo-preview-audio) {
    background-image: url('./assets/audioPlaceholderLight.svg');
  }
  :global(.oo-designer.dark .oo-designer-node-minimap1) &:global(.oo-preview-audio) {
    background-image: url('./assets/audioPlaceholderDark.svg');
  }

  :global(.oo-designer-node-minimap1) &:global(.oo-preview-html),
  :global(.oo-designer-node-minimap1) &:global(.oo-preview-iframe) {
    background-image: url('./assets/chartPlaceholderLight.svg');
  }
  :global(.oo-designer.dark .oo-designer-node-minimap1) &:global(.oo-preview-html),
  :global(.oo-designer.dark .oo-designer-node-minimap1) &:global(.oo-preview-iframe) {
    background-image: url('./assets/chartPlaceholderDark.svg');
  }

  :global(.oo-designer-node-minimap1) &:global(.oo-preview-table) {
    background-image: url('./assets/tablePlaceholderLight.svg');
  }
  :global(.oo-designer.dark .oo-designer-node-minimap1) &:global(.oo-preview-table) {
    background-image: url('./assets/tablePlaceholderDark.svg');
  }

  :global(.oo-designer-node-minimap1) &:global(.oo-preview-markdown) {
    background-image: url('./assets/markdownPlaceholderLight.svg');
  }
  :global(.oo-designer.dark .oo-designer-node-minimap1) &:global(.oo-preview-markdown) {
    background-image: url('./assets/markdownPlaceholderDark.svg');
  }

  :global(.oo-designer-node-minimap1) & {
    & > div {
      visibility: hidden;
    }

    &:global(.oo-preview-video),
    &:global(.oo-preview-image) {
      & > * {
        visibility: visible;
      }
    }
  }
}

.resizable {
  position: relative;
  box-sizing: border-box;
  overflow: auto;

  &:not([style]) {
    :global(.oo-preview-image) > &,
    :global(.oo-preview-video) > & {
      min-height: 120px;
      max-height: 240px;
    }
  }

  > :global(.project-workbench__markdown-preview) {
    height: 100% !important;
  }
}
