.wrapper {
  padding: 0.25em 0.5em 0.5em;
  border-radius: var(--widget-radius);
  border: 1px solid var(--node-border-color);
  background-color: var(--block-editor-item-background-color);
  position: relative;
  overflow: visible;
  min-width: 300px;
}

.header {
  display: flex;
  align-items: center;
  position: relative;

  h3 {
    flex: 1;
    margin: 0;
    padding: 0;
    font-size: 1em;
    user-select: none;
  }

  aside {
    position: absolute;
    inset: 0 -0.25em auto auto;
    display: flex;
  }
}

.content {
  padding-top: 0.5em;

  :global(.oo-designer-handle-row):last-child {
    margin-bottom: 0;
  }
}

.title {
  display: flex;
  align-items: center;
}

.resizeHandle {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  position: absolute;
  z-index: 1;
  touch-action: none;
}

.resizeHandleW {
  width: 7px;
  height: 100%;
  left: -8px;
  top: 0;
  cursor: w-resize;
}

.title {
  display: flex;
  align-items: center;
}

.subtitle {
  height: var(--widget-height);
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.label {
  background-color: var(--widget-label-background);
}

.labelTooltip :global(.ant-tooltip-container) {
  color: var(--edge-string);
  font-family: var(--font-monospace);
}

.expandButton {
  justify-content: flex-start;
}

.expandButton span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.input {
  flex: 1;
}

.iconButton {
  width: var(--icon-size);
  height: var(--icon-size);
  padding: 0;
  background-color: transparent;

  &:hover {
    background-color: var(--widget-background-mask-highlight-color);
  }

  &:active {
    background-color: var(--widget-background);
  }
}

.forwardPreviewNode {
  height: var(--widget-height);
  padding: 0 4px;
  background-color: var(--node-head-background-color);
  border-radius: var(--widget-radius);
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  > i {
    width: 1em;
    height: 1em;
    flex: none;
  }
}

.forwardPreviewNodeTitle {
  padding: 2px 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
