.group {
  box-sizing: border-box;
  display: flex;
  height: var(--canvas-control-container-size, 30px);
  align-items: center;
  gap: 2px;
  padding: 0;
  border: 1px solid var(--ui-border);
  border-radius: calc(var(--ui-radius) + 2px);
  background: var(--ui-background);
  box-shadow: var(--floating-control-shadow, 0 1px 3px rgb(0 0 0 / 16%));
}
