.wrapper {
  position: relative;
  min-width: 0;
}

.loading {
  position: absolute;
  top: 50%;
  left: 5px;
  z-index: 1;
  margin-top: -0.5em;
  color: var(--brand-highlight-color);
  pointer-events: none;

  + :global([data-slot='combobox-root']) :global([data-slot='combobox-input']) {
    padding-left: 1.5em;
  }
}

.title {
  position: absolute;
  right: 24px;
  top: 50%;
  max-width: calc(100% - 30px);
  transform: translateY(-50%);
  color: var(--widget-font-disable-color);
  overflow: hidden;
  pointer-events: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.warning {
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border: 1px solid var(--widget-error-color);
    border-radius: var(--widget-radius);
    pointer-events: none;
  }
}

.isSuffix {
  margin-left: 4px;

  &.warning::after {
    left: 4px;
  }
}
