.wrapper {
  --rgba: currentColor;
}

.swatch {
  border-color: currentColor;
  border-radius: var(--widget-radius);
  position: relative;

  &:focus-visible {
    border-color: var(--brand-highlight-color);
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image:
      linear-gradient(45deg, rgba(0, 0, 0, 0.4) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.4) 75%),
      linear-gradient(45deg, rgba(0, 0, 0, 0.4) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.4) 75%);
    background-position:
      0 0,
      7px 7px;
    background-size: 14px 14px;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(90deg, currentColor 50%, var(--rgba) 50%);
  }
}

.popover {
  position: absolute;
  padding: 0.5em;
  border-radius: var(--widget-radius);
  background-color: var(--widget-input-background);
  box-shadow: 0 2px 8px -2px var(--widget-shadow);
  z-index: 999;

  &:focus-visible {
    outline: none;
  }

  :global(.react-colorful) {
    height: 150px;
  }
  :global(.react-colorful__saturation) {
    border-top-left-radius: var(--widget-radius);
    border-top-right-radius: var(--widget-radius);
  }
  :global(.react-colorful__last-control) {
    border-bottom-left-radius: var(--widget-radius);
    border-bottom-right-radius: var(--widget-radius);
  }
  :global(.react-colorful__pointer) {
    width: calc(var(--base-font-size) + 2px);
    height: calc(var(--base-font-size) + 2px);
  }
  :global(.react-colorful__hue),
  :global(.react-colorful__alpha) {
    height: var(--base-font-size);
  }

  &:not(.enableAlpha) {
    :global(.react-colorful__alpha),
    :global(.react-colorful__alpha-pointer) {
      display: none;
    }
    :global(.react-colorful__hue) {
      border-bottom-left-radius: var(--widget-radius);
      border-bottom-right-radius: var(--widget-radius);
    }
  }
}

.inputs {
  padding-top: 0.5em;

  button {
    --icon-size: var(--widget-height);
    --icon-font-size: 1.5em;
  }
}

.inputWrapper {
  padding-top: 0.25em;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.25em;
}

.buttonGroup {
  display: flex;
  gap: 0.25em;
}

.typeWrapper {
  flex: 1;
}

.type {
  justify-content: stretch;
  background-color: var(--widget-label-background);

  label {
    flex: 1;
    text-align: center;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.clear {
  position: absolute;
  margin-right: 1px;
  z-index: 1;
  opacity: 0;
  background-color: transparent;
  color: var(--widget-font-color);

  .content:hover &,
  .content:has(.swatch:focus-visible) & {
    opacity: 1;
  }
}

.isSuffix {
  padding-left: 4px;
}
