.wrapper {
  position: relative;
  min-width: 0;
}

.input {
  width: 100%;
  height: var(--widget-height);
  padding: 0 26px 0 4px;
  border: 1px solid transparent;
  border-radius: var(--widget-radius);
  color: var(--widget-font-color);
  background-color: var(--widget-background);
  font-size: var(--base-font-size);
  font-variant-numeric: tabular-nums;

  &:hover {
    background-color: var(--widget-background-highlight-color);
  }

  &:focus-visible {
    border-color: var(--brand-highlight-color);
    background-color: var(--widget-input-background);
  }

  &:disabled {
    color: var(--widget-font-disable-color);
    background-color: var(--widget-background);
    pointer-events: none;
  }
}

.clear {
  position: absolute;
  top: 50%;
  right: 2px;
  z-index: 1;
  width: 15px;
  min-width: 15px;
  height: 15px;
  min-height: 15px;
  transform: translateY(-50%);
  color: var(--widget-font-color);
  font-size: 1.25em;
}

.isSuffix {
  padding-left: 4px;
}
