.wrapper {
  position: relative;
  overflow: hidden;

  &:focus-within {
    overflow: visible;
  }
}

.input {
  padding-right: 26px;
  border-color: transparent;
  border-radius: var(--widget-radius);
  color: var(--widget-font-color);
  background-color: var(--widget-background);
  font-size: var(--base-font-size);
  font-variant-numeric: tabular-nums;

  &:hover {
    background-color: var(--widget-background-highlight-color);
  }

  &:focus-visible {
    border-color: var(--brand-highlight-color);
    background-color: var(--widget-input-background);
  }

  &:disabled {
    color: var(--widget-font-disable-color);
    background-color: var(--widget-background);
  }
}

.clear {
  position: absolute;
  top: 50%;
  right: 1px;
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  transform: translateY(-50%);
}

.isSuffix {
  margin-left: 4px;
}
