.translateButton {
  align-self: flex-start;
}

.translateMenu {
  font-size: var(--base-font-size);
  white-space: nowrap;
}

.translatePanel {
  width: auto;
  min-width: 150px;
  padding: 8px 8px 8px 11px;
  border-radius: var(--widget-radius);
  border: 1px solid var(--node-border-color);
  background-color: var(--block-editor-item-background-color);
  line-height: 1;
  font-size: var(--base-font-size);
}

.translations {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 5px 8px;
}

.translateKey,
.translation {
  grid-column: span 2;
  display: grid;
  grid-template-columns: subgrid;
}

.translateKeyId,
.language {
  text-align: right;
  font-weight: bold;
  line-height: var(--widget-height);
}

.translateKeyValue,
.translationInput {
  width: 250px;
}

.translateKeyValue {
  display: flex;
  gap: 4px;
}

.translateKeyInput {
  flex: 1;
}

button:has(.loading) {
  opacity: 1;
}

.loading {
  animation: spin 1s linear infinite;
  animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
