.wrapper {
  position: relative;
  background-color: var(--widget-background);
  border-radius: var(--widget-radius);
  height: var(--widget-height);

  input[type='number'] {
    position: absolute;
    inset: 0;
  }
}

.progress {
  position: absolute;
  inset: 0;
  border-radius: var(--widget-radius);
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    inset: 0 auto 0 0;
    width: calc(100% * var(--progress));
    background-color: var(--widget-range-background);
  }
}

.display {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  height: var(--widget-height);

  [data-slot='button'] {
    flex: none;
    width: 1em;
    height: 100%;
    border-radius: 0;

    &:first-of-type {
      border-top-left-radius: var(--widget-radius);
      border-bottom-left-radius: var(--widget-radius);
    }

    &:last-of-type {
      border-top-right-radius: var(--widget-radius);
      border-bottom-right-radius: var(--widget-radius);
    }

    &:hover {
      background-color: var(--widget-background-mask-highlight-color);
      transition-duration: 0s;
    }

    &:active {
      background-color: transparent;
    }
  }
}

.slider {
  flex: 1;
  overflow: hidden;
  align-self: stretch;
  border: 1px solid transparent;
  padding: 0 0.25em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25em;
  user-select: none;
  cursor: col-resize;

  &:hover {
    background-color: var(--widget-background-mask-highlight-color);
    transition-duration: 0s;
  }

  &:focus-visible {
    outline: none;
    border-color: var(--brand-highlight-color);
  }
}

.label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.value {
  flex: none;
  overflow: hidden;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
}

.disabled {
  color: var(--widget-font-disable-color);
  background-color: var(--widget-background);

  .progress::before {
    background-color: var(--widget-background-highlight-color);
  }

  [data-slot='button'] {
    background-color: transparent;
  }

  .slider {
    cursor: default;
    pointer-events: none;
  }
}

.isSuffix {
  margin-left: 4px;
}
