.wrapper {
  position: absolute;
  inset: -1px;
  border-radius: calc(var(--node-container-radius) + 1px);
  z-index: -1;
  pointer-events: none;
}

.line {
  position: absolute;
  inset: 0;
  fill: none;
  stroke: var(--brand-highlight-color);
  stroke-width: 1.5px;
  overflow: visible;
  opacity: 1;
  animation: moving 2s ease-in-out infinite;
  stroke-dasharray: 2 10;
  stroke-dashoffset: 14;

  &:last-child {
    transform: rotate(180deg);
  }
}

@keyframes moving {
  30%,
  55% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 4;
    opacity: 0;
  }
}

.gradientWrapper {
  overflow: hidden;
  inset: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient {
  position: absolute;
  opacity: 0;
  background-image: linear-gradient(
    105.32deg,
    var(--node-border-color) -6.87%,
    #987de9 10.42%,
    var(--brand-highlight-color) 38.09%,
    var(--white) 64.61%,
    #7da6e9 92.28%,
    var(--node-border-color) 108.42%
  );
  animation: rotating 3s ease-in-out infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  35%,
  65% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: rotate(360deg);
  }
}
