.control {
  min-width: 0;
  height: var(--widget-height);
  display: flex;
  align-items: center;
  gap: 2px;
  border: 1px solid transparent;
  border-radius: var(--widget-radius);
  background-color: var(--widget-background);

  &:focus-within {
    color: var(--widget-font-placeholder-color);
    border-color: var(--widget-border-highlight-color);
    background-color: var(--widget-input-background);
  }

  &:hover {
    background-color: var(--widget-background-highlight-color);
  }

  &:has(input:disabled) {
    color: var(--widget-font-disable-color);
    background-color: var(--widget-background);
  }
}

.input {
  min-width: 0;
  height: 100%;
  flex: 1;
  border: 0;
  outline: 0;
  background: transparent;
}

.indicator {
  width: 15px;
  height: 15px;
  margin-right: 3px;
  flex: none;
  color: var(--widget-font-color);
  font-size: 1.25em;
}

.clear {
  width: 15px;
  min-width: 15px;
  height: 15px;
  min-height: 15px;
  margin-right: -17px;
  opacity: 0;

  .control:hover & {
    opacity: 1;
  }

  .control:hover &:not(:hover) + .indicator {
    opacity: 0;
  }
}

.menu {
  max-height: var(--select-menu-height);
  border: 1px solid var(--widget-border-highlight-color);
  border-radius: var(--widget-radius);
  background-color: var(--widget-input-background);
}

.list {
  max-height: var(--select-menu-height);
  padding: 0;
  overflow-x: hidden;
}

.value,
.groupLabel {
  min-width: 0;
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.groupLabel {
  min-height: 22px;
  color: var(--widget-font-disable-color);
}

.icon {
  flex: none;
}

.label {
  min-width: 0;
  flex: 1;
  padding: 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
}

.multiValue {
  margin-left: 4px;
  padding: 0 4px;
  border-radius: var(--widget-radius);
  color: var(--white);
  background-color: var(--brand-highlight-color);
  line-height: 1.25;
  white-space: nowrap;
}

.labelInMenu {
  padding: 4px;
  border-top: 1px solid var(--widget-border-highlight-color);
  color: var(--widget-font-disable-color);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.empty {
  line-height: var(--widget-height);
}

.danger {
  color: var(--widget-font-danger-color);
  background-color: var(--widget-button-danger-bg);

  &:hover {
    background-color: var(--widget-button-danger-hover-bg);
  }

  &:has(input:disabled) {
    color: var(--widget-font-disable-color);
    background-color: var(--widget-background);
  }
}

.capitalize {
  text-transform: capitalize;
}

.isSuffix {
  margin-left: 4px;
}
