.container {
  margin-top: -6.5px;
  padding: 8px;
}

.content {
  padding: 12px 8px;
  background-color: var(--block-editor-item-background-color);
  border-radius: var(--widget-radius);
}

.tip {
  width: 100%;
  font-size: var(--base-font-size);
  gap: 0;
  border: 1px dashed var(--border-weak);
  border-radius: 4px;
  color: var(--text-2);
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.click {
  padding-left: 2px;
}

:global(.oo-designer-node-minimap2) .content > * {
  visibility: hidden;
}
