.wrapper {
  padding: 0 12px;
  display: flex;
  flex-flow: column nowrap;
  --node-selected-border-color: var(--edge-error);
}

.icon {
  padding: 12px 0 10px;
  font-size: 32px;
  color: var(--widget-warn-color);
  text-align: center;
}

.message {
  padding: 0 0 12px;
  line-height: 1.25;
  font-size: 14px;
  overflow-x: auto;
  user-select: text;
  scrollbar-color: transparent transparent;

  &:hover {
    scrollbar-color: var(--scrollbar-color-hover) transparent;
  }

  :global(.oo-designer-node-minimap2) & {
    visibility: hidden;
  }

  &.monospace {
    padding-bottom: 0;
    white-space: pre;
    font-family: var(--font-monospace);
  }
}

.stack {
  margin: 0;
  padding: 0 0 12px;
  white-space: pre;
  overflow: auto clip;
  user-select: text;
  scrollbar-color: transparent transparent;

  &:hover {
    scrollbar-color: var(--scrollbar-color-hover) transparent;
  }

  :global(.oo-designer-node-minimap2) & {
    visibility: hidden;
  }
}

.handles {
  padding-bottom: 8px;

  :global(.oo-designer-node-minimap2) & {
    visibility: hidden;
  }
}

.handle {
  display: flex;
  align-items: center;
  height: var(--widget-height);
}

.handleName {
  flex: 1;
  text-align: right;
  user-select: none;
}

.handleSuffix {
  margin-top: -12.5px;
}
