.container {
  margin-top: 10px;
  left: 8px; // The inline width keeps the full-width content and suffix within the node.
  justify-content: center;
  text-align: center;
  color: var(--text-2);
  display: none;

  > :is(input, textarea) {
    background-color: transparent;

    &:focus-visible {
      background-color: var(--widget-input-background);
    }
  }

  :global(.react-flow__node.selected) & {
    font-weight: 600;
    color: var(--widget-font-color);

    textarea,
    input {
      text-shadow: 0px 2px 4px var(--fill-2);
    }
  }

  :global(.react-flow__node.selected) &,
  &:has(> :is(input, textarea):not(:placeholder-shown)) {
    display: flex;
    position: absolute;
  }

  :global(.oo-designer-fitting-view) & {
    position: static !important;
  }

  // :global(.react-flow.oo-designer:has(.dragging)) & {
  //   position: absolute;
  // }

  // :global(.oo-designer-node-minimap1) & {
  //   visibility: hidden;
  // }
}
