.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  font-style: normal;
  user-select: none;
  pointer-events: none;
}

.content {
  font-size: 0.8em;
  line-height: 1;
}
