.panel {
  display: grid;
  gap: 4px;
  letter-spacing: 0;
}

.message {
  display: grid;
  min-width: 0;
  gap: 4px;
}

.messageHeader {
  display: flex;
  min-width: 0;
  align-items: center;
  gap: 5px;
}

.role {
  min-width: 0;
  flex: 1;
}

.messageContent {
  box-sizing: border-box;
  min-height: 100px;
  width: 100%;
  overflow: auto;
  border: 1px solid transparent;
  border-radius: var(--widget-radius);
  background: var(--widget-background);

  > textarea,
  > pre {
    min-height: 100px;
    font-family: inherit !important;
    line-height: 1.2 !important;
    letter-spacing: 0 !important;
    overflow-wrap: anywhere !important;
    white-space: pre-wrap !important;
  }

  > textarea {
    outline: none !important;

    &::selection {
      color: var(--widget-font-color);
      -webkit-text-fill-color: var(--widget-font-color);
    }
  }

  mark {
    color: var(--brand-highlight-color);
    background: transparent;
  }

  &:hover {
    background: var(--widget-background-highlight-color);
  }

  &:focus-within {
    border-color: var(--brand-highlight-color);
    background: var(--widget-input-background);
  }
}

.addMessage {
  width: 100%;
}
