.iframe {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  color-scheme: auto;
  background-color: transparent;
  pointer-events: none;

  &:global(.designer-preview-active) {
    pointer-events: auto;
  }
}
