.container {
  position: relative;
  overflow: hidden;
  height: 100%;
  min-height: 300px;

  :global(.viewer-button.viewer-fullscreen) {
    display: none;
  }

  :global(.viewer-backdrop) {
    background-color: transparent;
  }

  :global(.viewer-navbar) {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
