.markdown {
  padding: 0 5px;
}

.emptyContainer {
  padding: 16px;
}

.empty {
  width: 100%;
  font-size: 12px;
  gap: 0;
  border: 1px dashed var(--comment-empty-border);
  border-radius: 4px;
  color: var(--text-2);
  background-color: transparent;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);

  &:hover {
    background-color: var(--comment-empty-hover-bg);
  }

  &:active {
    background-color: var(--comment-empty-active-bg);
  }
}

.emptyIcon {
  display: inline-flex;
  width: 20px;
  height: 20px;
  font-size: 15px;
  align-items: center;
  justify-content: center;
}

.emptyText {
  margin-left: 4px;
}
