.container {
  position: absolute;
  z-index: 100;
  right: 15px;
  bottom: 15px;

  & > :global(.react-flow__panel) {
    position: static;
  }
}

.miniMapOpen[data-slot='canvas-control-group'] {
  height: auto;
  padding: 0;
}

.expanded {
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 10;
}

.interactionIcon,
.miniMapIcon,
.settingsIcon {
  width: 1em;
  height: 1em;
}

.interactionIcon {
  font-size: var(--canvas-control-icon-size);
}

.miniMapIcon {
  font-size: calc(var(--canvas-control-icon-size) - 1px);
}

.settingsIcon {
  font-size: calc(var(--canvas-control-icon-size) - 2px);
}

.miniMap {
  margin: 0;
  width: 200px;
  height: 150px;
}
