.edge {
  stroke: var(--edge-primitive);
  stroke-width: 2;
}

.dashed {
  stroke-dasharray: 5 5;
}

.nodeSelected {
  stroke-width: 4;
}

.label {
  position: absolute;
  border-radius: 50%;
  font-size: var(--base-font-size);
  background: var(--node-background-color);
  pointer-events: all;
}

.tooltipSummary {
  margin-bottom: 0.25em;
}

.tooltipErrors {
  display: grid;
  gap: 0.2em;
}
